<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.blueshit.idgenerator.dao.SequenceDao">


    <select id="getCurrVal" resultType="java.lang.Long" parameterType="java.lang.String">
        SELECT currentValue FROM sequence WHERE seqName = #{value}
    </select>

    <update id="autoIncrease">
        UPDATE sequence SET currentValue = currentValue + increment WHERE seqName = #{value}
    </update>

    <update id="increase">
        UPDATE sequence SET currentValue = currentValue + #{param2} WHERE seqName = #{param1}
    </update>

    <select id="getAllSequences" resultType="com.jd.ql.framework.idgenerator.domain.Sequence">
        SELECT seqName, currentValue, increment FROM sequence
    </select>

</mapper>
